[Desktop Entry]
Name=Classic Menu Plus
Name[cs]=Klasické menu
Exec=/app/launch-applet.sh
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.shagovAlexei.cosmic-ext-classic-menu-plus
Categories=COSMIC;
Keywords=COSMIC
MimeType=
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
